<footer class="site-footer">

  <div class="wrapper">
    <!--
    <h2 class="footer-heading">Sobre este projeto</h2>
    <p>
      O projeto <strong><a href="{{ site.baseurl }}/sobre.html">{{ site.title }}</a></strong> ({% include icon-github.html username=site.github_repository %}) é uma iniciativa de seus autores, explícitos e anônimos,
      ou metacognição.
    </p>
    -->
    <h2 class="footer-heading">Sites</h2>
    <ul class="list-inline">
      <li><a href="https://github.com/fititnt/criatividade-familiar">Criatividade Familiar</a></li>
      <li><a href="https://fititnt.github.io/sinapses-para-leigos/">Sinapses para leigos</a></li>
      <li><a href="https://github.com/fititnt/coping-comportamento-antissocial-ti">Coping Antissocial TI</a></li>
    </ul>
  </div>

</footer>
